*{
    font-family: 'Sorts Mill Goudy', serif;
    margin: 0;
    padding: 0; /* setting margin: 0 and padding: 0 overrides the user agent stylesheet's settings */
}


#maincontent{
    max-width: 1610px;
    margin-left: auto;
    margin-right: auto; /* margin-right, margin-left, and max-width are specs taken from Nicole Marie's website */
}

.section_button{
    color: inherit;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .7em;
    border: 2px solid #000;
    padding: 7px;
}

a:hover {
    cursor: pointer;
}

/* Section I. Hero-image and navbar */

.navbar li {
    display: inline-block;
    padding: 20px 80px;
    font-style: italic;
}
.navbar a:hover{
    color: #CFB593;
}

/* Section II. Centered quote with fun designs on the sides */

.sectionII{
    text-align: center;
    background-color: #CFB593;
    padding-top: 53px;
    padding-bottom: 53px;
}

#sectionII-quote{
    font-size: 40px;
    font-style: italic;
}

#sectionII-subheader{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

/* Section III. Pricing info */

#containerIII{
    width: auto !important; /* deleted this max-width: 1610px;*/
    margin: 0, auto; /*deleted specs that set margin-left and margin-right to auto */
}

.sectionIII_image{
    width: 200px;
    height: 100%;
    float: left;
    padding: 17px;
}

.sectionIII_text{
    float: left;
    height: 239px;
    width: 414px;
}

h1{
    font-size: 24px;
    color: #d1bfa7;
    line-height: 40px;
    position: relative;
}

p{
    font-size: 20px;
    line-height: 33px;
}

/* Section IV. Banner of images */

.sectionIV{
    display: inline-block;
    margin: 10px 0;
    padding: 0; /* how do I get rid of the white space between photos? */
}

/* Section V. Bar of whitespace */
.sectionV{
    background-color: #acb7ae;
}

/* Section VI. About Me */

/* Section VII. Mini banner of images and connect details */

/* Section VII. Footer */