*{
    font-family: 'Sorts Mill Goudy', serif;
    margin: 0;
    padding: 0; /* setting margin: 0 and padding: 0 overrides the user agent stylesheet's settings */
}


#maincontent{
    max-width: 1610px;
    margin-left: auto;
    margin-right: auto; /* margin-right, margin-left, and max-width are specs taken from Nicole Marie's website */
}

a {
    color: black;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.section_button{
    color: inherit;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .7em;
    border: 2px solid #000;
    padding: 7px;
}

.section_button:active {
    background: #ffffff;
  -webkit-box-shadow: inset 0px 0px 5px #CFB593;
     -moz-box-shadow: inset 0px 0px 5px #CFB593;
          box-shadow: inset 0px 0px 5px #CFB593;
   outline: none;
  }

/* Section I. Navbar and hero-image */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 0.6;
    background-color: white;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    font-style: italic;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.navbar a:hover{
    color: #CFB593;
    text-decoration: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}  

/* Section II. Centered quote with fun designs on the sides */

.sectionII{
    text-align: center;
    background-color: rgb(245, 222, 179);
    padding-top: 70px;
    padding-bottom: 70px;
}

#sectionII-quote{
    font-size: 50px;
    font-style: italic;
    font-family: Cormorant Garamond;
    font-weight: 300;
    letter-spacing: 0em;
    line-height: 1.45em;
    text-transform: lowercase;
}

.quote_subheader{
    display: inline-block;
}

h8{
    font-size: 18px;
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
}

h9{
    font-family: "proxima nova",sans-serif;
    color: #000;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: .7em;
    text-transform: uppercase;
}

/* Section III. Pricing info */

.containerIII {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 48px;
}

.image_container_I {
    display: block;
    width: 30%;
    height: auto;
}

.sectionIII_image {
    width: 100%;
    height: auto;
    margin: 2em 0;
}

.sectionIII_text {
    display: inline-block;
    width: 25%;
    height: auto;
    margin-left: 1em;
}

h3{
    font-size: 24px;
    line-height: 40px;
    position: relative;
    font-family: "proxima nova",sans-serif;
    color: #000;
    letter-spacing: .4em;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(#d1bfa7,#d1bfa7);
    background-position: 0 70%;
    background-size: 100% 5px;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    text-decoration: none;
}

p{
    font-size: 20px;
    line-height: 33px;
}

/* Section IV. Banner of images */

.sectionIV_container_images{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; /* how do I get rid of the white space between photos? */
    justify-content: center;
}

.sectionIV_container_images img {
    width: 25%;
    height: auto;
}

/* Section V. Bar of whitespace */
.floral_icon_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.floral_icon {
    width: 350px; /* Confused as to why this didn't make the image width 350px */
    height: auto;
    margin-top: 40px;
    margin-bottom: 1em;
}

.love_quote_plus_memories_text {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.memories_text {
    width: 15%;
    margin-left: 2em;
    padding: 0%;
}

.memories_text p{
    font-size: 30px;
    line-height: 1.4em;
    padding: 0;
}

/* Section VI. About Me */
.sectionVI_content_container {
    display: flex;
    background-color: wheat;
}
.sectionVI_text {
    align-content: center;
    margin-left: 1.5rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Section VII. Links to Instagram */
.sectionVII_container {
    display: flex;
    justify-content:center;
}

.sectionVII_content_container {
    width: 65%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.line_plus_insta_link {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.line_container{
    width: 75%;
    display: inline-block;
    text-align: left;
}

.instagram_handle{
    float: right;
    width: 20%;
    overflow: show;
    padding-right: 0;
    display: block;
    text-align: right;
}

.instagram_handle a:hover {
    color: #CFB593;
}

.insta_image_container{
    margin-top: 1rem;
    margin-bottom: 5rem
}

.insta_image_wrapper {
    display: inline-block;
}

.insta_image {
    width: 141px;
    height: 141px;
}

/* Section VII. Footer */
footer{
    background-color: wheat;
    margin: 0;
    padding: 0;
    border: 0;
}

.footer_logo_container {
    display: flex;
    justify-content: center;
}

.footer_logo {
    width: 250px;
    margin: 3em 0;
}

.footer_columns {
    display: flex;
    justify-content: center;
}